.lineSidebarContainer{
    position:fixed;
    right:32px;
    top:50%;
    transform:translateY(-50%);
    z-index:999;
    background:#0b0b0b;
    border:1px solid rgba(92, 78, 78, 0.995);
    border-radius:28px;
    padding:24px 24px;
    backdrop-filter:blur(20px);
    max-width: 240px;
    width: fit-content;
    max-height: calc(100vh - 160px);
    overflow: hidden;
}

.lineSidebar ul{

    margin:0;

    padding:0;

    list-style:none;

    display:flex;

    flex-direction:column;

    gap:24px;

}

.lineSidebar li{
    position:relative;
    cursor:pointer;
    --effect:0;
}

.lineSidebar li.active a {
    color: #e82f2f;
}

.lineSidebar li.active .lineMarker {
    background: #ef4444;
}

.lineSidebar a{

    color:#c9c9c9;

    text-decoration:none;

    font-size:17px;

    font-weight:600;

    display:inline-block;

    transform:
    translateX(calc(var(--effect) * 24px));

    color:
    color-mix(
        in srgb,
        #ef4444 calc(var(--effect) * 100%),
        #c9c9c9
    );

}

.lineMarker{

    position:absolute;

    left:-70px;

    top:50%;

    width:60px;

    height:2px;

    background:
    color-mix(
        in srgb,
        #ef4444 calc(var(--effect) * 100%),
        #555
    );

    transform-origin:left;

    transform:
    translateY(-50%)
    scaleX(calc(.65 + var(--effect)));

}

.lineSidebar li:not(:last-child)::after{

    content:"";

    position:absolute;

    left:-70px;

    top:calc(100% + 12px);

    width:28px;

    height:1px;

    background:#555;

}